@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
    width: 3px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f4f4f5;
}
::-webkit-scrollbar-thumb {
    background-color: #f0c4c4;
    border-radius: 16px;
}